$map-emmet-con-data: (
	t: 'top',
	r: 'right',
	b: 'bottom',
	l: 'left',
	z: 'z-index',
	
	c: 'color',
	
	w: 'width', 
	h: 'height',
	maw: 'max-width',
	miw: 'min-width',
	 
	f: 'font',
	fw: 'font-weight',
	fv: 'font-variant',
	fz: 'font-size',
	fza: 'font-size-adjust',
	ff: 'font-family',
	fef: 'font-effect',
	fem: 'font-emphasize',
	femp: 'font-emphasize-position',
	fems: 'font-emphasize-style',
	fsm: 'font-smooth',
	fst: 'font-stretch',
	
	talst: 'text-align-last',
	te: 'text-emphasis',
	th: 'text-height',
	ti: 'text-indent',
	
	tj: 'text-justify',
	to: 'text-outline',
	tr: 'text-replace',
	tw: 'text-wrap',
	tsh: 'text-shadow',
	
	bd: 'border', 
	p: 'padding',
	m: 'margin',
	mt: 'margin-top',
	ml: 'margin-left',
	mr: 'margin-right',
	mb: 'margin-bottom',
	pt: 'padding-top',
	pl: 'padding-left',
	pb: 'padding-bottom',
	pr: 'padding-right',
	bxs: 'box-shadow',
	bxsh: 'box-shadow',
	lh: 'line-height',
	lts: 'letter-spacing',
	
	whs: 'white-space',
	whsc: 'white-space-collapse',
	wob: 'word-break',
	wos: 'word-spacing',
	wow: 'word-wrap',
	
	bg: 'background', 
	bgc: 'background-color', 
	bgi: 'background-image',
	bgr: 'background-repeat',
	bga: 'background-attachment',
	bgpx: 'background-position-x',
	bgpy: 'background-position-y',
	bgbk: 'background-break',
	bgo: 'background-origin',
	bgsz: 'background-size',
	op: 'opacity',
	ct: 'content',
	cnt: 'content',
	
	cps: 'caption-side',
	
	ec: 'empty-cells',
	
	q: 'quotes',
	bdcl: 'border-collapse',
	bdc: 'border-color',
	
	coi: 'counter-increment',
	cor: 'counter-reset',
	ol: 'outline',
	olo: 'outline-offset',
	olw: 'outline-width',
	ols: 'outline-style',
	
	tbl: 'table-layout',
	bdrs: 'border-radius',
	bdtrrs: 'border-top-right-radius',
	bdtlrs: 'border-top-left-radius',
	bdbrrs: 'border-bottom-right-radius',
	bdblrs: 'border-bottom-left-radius',
	bdlen: 'border-length',
	bdsp: 'border-spacing',
	
	bdw: 'border-width',
	bdt: 'border-top',
	
	lis: 'list-style',
	lisp: 'list-style-position',
	list: 'list-style-type',
	lisi: 'list-style-image',
	bdi: 'border-image',
	bdti: 'border-top-image',
	bdri: 'border-right-image',
	bdli: 'border-left-image',
	bdbi: 'border-bottom-image',
	bdci: 'border-corner-image',
	bdtli: 'border-top-left-image',
	bdtri: 'border-top-right-image',
	bdbri: 'border-bottom-right-image',
	bdbli: 'border-bottom-left-image',
	pgbb: 'page-break-before',
	pgbi: 'page-break-inside',
	pgba: 'page-break-after',
	
	orp: 'orphans',
	wid: 'widows',
	
	ac: 'align-content',
	ai: 'align-items',
	anim: 'animation',
	animdel: 'animation-delay',
	as: 'align-self',
	
	bfv: 'backface-visibility',
	trf: 'transform',
	trfo: 'transform-origin',
	trs: 'transition',
	trsde: 'transition-delay',
	trsdu: 'transition-duration',
	trsp: 'transition-property',
	trstf: 'transition-timing-function',
	jc: 'justify-content',
	fxw: 'flex-wrap',
	fxsh: 'flex-shrink',
	fxg: 'flex-grow',
	fxf: 'flex-flow',
	fx: 'flex',
	fxb: 'flex-basis',
	colm: 'columns',
	colmc: 'column-count',
	colmf: 'column-fill',
	colmg: 'column-gap',
	colmr: 'column-rule',
	colmrc: 'column-rule-color',
	colmrs: 'column-rule-style',
	colmrw: 'column-rule-width',
	colms: 'column-span',
	colmw: 'column-width'
);
