.test-1 {
  content: 'test-extend';
  content: 'hello';
  content: 'world';
}

.test-1, div .test-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

div .test-2 {
  height: auto;
}
