// /* ===[other]===*/
$map-emmet-oth-data: (
	xyt: 'top: auto',
	xyb: 'bottom: auto',
	xyr: 'right: auto',
	xyl: 'left: auto',
	za: 'z-index: auto',
	zoo: 'zoom: 1',
	zm: 'zoom: 1',
	ma: 'margin: auto',
	maa: 'margin: auto auto',
	ma0: 'margin: auto 0',
	m0a: 'margin: 0 auto',
	m0: 'margin 0',
	mta: 'margin-top: auto',
	mba: 'margin-bottom: auto',
	mla: 'margin-left: auto',
	mra: 'margin-right: auto',
	p0: 'padding: 0',
	bxsn: 'box-shadow: none',
	bxshn: 'box-shadow: none',
	wa: 'width: auto',
	ha: 'height: auto',
	mawn: 'max-width: none',
	mahn: 'max-width: none',
	fzan: 'font-size-adjust: none',
	'ti-': 'text-indent: -9999px', 
	ltsn: 'letter-spacing: normal',
	us: 'user-select: none',
	ap: 'appearance: none',
	animn: 'animation-name: none',
	tal: 'text-align: left'
);