@import 'data/_core_data';
@import '../ivcss_config';
// /**
//  * $MAP-EMMET-CUS 内置映射
//  * 可选值 
//  * 	$map-emmet-cus-often
//  * 	$map-emmet-cus-other
//  * 	$map-emmet-cus-all
// */
$MAP-EMMET-CUS: $map-emmet-cus-all !default;
// /**
//  * $MAP-EMMET-CUS 自定义映射
//  * 可选值 
//  * 	$map-emmet-con-data
// */
// - 后续添加用户自定义版
$MAP-EMMET-CON: $map-emmet-con-admin;
// /**
//  * $MAP-EMMET-CUS 其它类型
//  * 可选值 
//  * 	$map-emmet-con-data
// */
// - 后续添加用户自定义版
$MAP-EMMET-OTHER: $map-emmet-other !default;

///**
// * 需要自动判断是否有单位的属性列表
// */
$ADD-UNITS-PROP-List: (margin, width, height, padding, font-size, border, border-radius) !default;

///**
// * 允许同时设置多个方向的值
// */
$ALLOW-MUL-VAULE-List: (margin, padding, border, border-radius) !default;

// 默认加单位
$default-units-user: 'px' !default;
$DEFAULT-UNITS: $default-units-user;

// 继承类模板
$MAP-EXTEND-CLASS-ADMIN: (
	test-extend: 'ivcss-test-extend'
);

%ivcss-test-extend {
	content: 'test-extend';
	content: 'hello';
	content: 'world';
}

$MAP-EXTEND-CLASS-USER: $map-extend-class-user !default;
$MAP-EXTEND-CLASS: map-merge($MAP-EXTEND-CLASS-ADMIN, $MAP-EXTEND-CLASS-USER);
// @error MAP-EXTEND-CLASS;



